{% extends 'shop/basic.html' %}

{% block title%} About Us{% endblock %}
{% block body %}




<main role="main">

  <!-- Main jumbotron for a primary marketing message or call to action -->
  <div class="jumbotron">
    <div class="container">
      <h1 class="display-3">StudyAreaLive Cart!</h1>
      <p>StudyArea Live Pvt Ltd. is an Indian educational platform based in Pune, India. Founded by Saurabh in 2024, the company initially focused on providing free PDF downloads of study materials for students across various disciplines, such as engineering, pharmacy, and computer science. The website later expanded its offerings to include exam preparation guides, agricultural studies, and resources for other bachelor's courses.

        The service competes primarily with other online educational resource platforms in India. It has carved out a significant presence by catering specifically to the needs of students preparing for competitive exams like the MHT CET and various state board exams. StudyArea Live has become a popular destination for students seeking easily accessible and free academic resources. The platform is particularly dominant in the field of providing educational content for undergraduate courses, and it continues to expand its library of resources to meet the growing demands of students across the country.</p>
      <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more &raquo;</a></p>
    </div>
  </div>

  <div class="container">
    <!-- Example row of columns -->
    <div class="row">
      <div class="col-md-4">
        <h2>Global Book Access</h2>
  <p>StudyArea Live is expanding its reach to include books from foreign countries, ensuring that students worldwide can access a diverse range of academic materials. We are dedicated to providing free access to PDFs of educational resources from around the globe, covering various disciplines and languages. </p>
  <p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p>
</div>
      <div class="col-md-4">
        <h2>PDFs Around World</h2>
  <p>Our mission is to make educational resources freely available to everyone, regardless of their location. We strive to offer a comprehensive collection of books from all over the world, ensuring that students can access the materials they need to succeed in their studies without any financial barriers.</p>
  <p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p>
</div>
      <div class="col-md-4">
        <h2>Request Your Book</h2>
        <p>If you're looking for a specific book that is not yet available on our platform, simply contact us through our contact page. Provide the book's details and your name, and we'll do our best to make it available as a free PDF download on StudyArea Live.</p>
        <p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p>
      </div>
    </div>

    <hr>

  </div> <!-- /container -->

</main>





{% endblock %}